
html, body {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }
    
    .profile-container {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(123, 74%, 51%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .profile-card {
        text-align: center;
    }
    
    .avatar {
        image-orientation: center;
        width: 200px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    
    .username {
        font-size: 24px;
        margin: 10px 0;
        color: hwb(252 27% 7%);
    }
    
    .description {
        font-size: 16px;
        color: #f18c8c;
    }
    

}